.home-img,
.home-img-container {
    width: 200px;
    height: 200px;
}

.home-text {
    width: 300px;
}

.home-text h1 {
    font-size: 50px;
    line-height: 60px;
}

.home-text h2 {
    font-size: 35px;
}

.home-text p {
    line-height: 30px;
}

.projetos-container {
    height: 400vh;
}

.projeto-text-container {
    width: 330px;
}

.projeto-text-container p {
    margin-bottom: 10px;
}

.contato-text h2 {
    font-size: 30px;
    line-height: 50px;
}

.contato-text p {
    line-height: 30px;
}

.contato-form {
    margin-top: 22px;
}