@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=East+Sea+Dokdo&family=Montserrat&display=swap');

html{
    height: 100%;
}

body {
    background: #346897;
    color:#ffffff;
    height: 100%;
    overflow: hidden;
}

.bg {
    z-index: -2;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

header {
    margin: 5%;
    height: 10%;
}

.translate {
    height: 2%;
    font-family: 'Coming Soon', cursive;
    background: rgba(117, 180, 223, 0.5);
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    color: #ffffff;
    font-size: 8vw;
    font-weight: lighter;
    text-transform: uppercase;
    
}

h2 {
    font-family: 'East Sea Dokdo', cursive;
    color: #255075;
    font-size: 5vw;
    text-align: center;
    margin: 10px;
}

.developer {
    font-size: 1.6vw;
}

p{
    font-family: 'Coming Soon', cursive;
    color: #ffffff;
}
.sobre {
    font-family: 'Coming Soon', cursive;
    line-height: 1.7;
    margin: 10px 25px;
    text-align: center;
    color:#ffffff;
    font-size: 1.2vw;

}

li a {
    text-decoration: none;
    font-family: 'Coming Soon', cursive;
    color: #255075;
    font-weight: bold;
    font-size: 1.2vw;
    display: block;
    margin: 10px 0;
}

.content-holder{
    margin-top: 15vh;
}

.carousel {
    position: relative;
    height: 45vh;
    width: 40vw;
    margin: 0 auto;
}

.carousel__img{
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.carousel__track-container {
    background: rgba(117, 180, 223, 0.5);
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
      
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.carousel__button img {
    width: 20%;
}

.carousel__button--left {
    left: -20vw;
}

.carousel__button--right {
    right: -20vw;
}

.carousel__nav{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, .5);
    margin: 0 10px;
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background: rgba(255, 255, 255);
}

.is-hidden {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
}

.linkedin {
    height: 20px;
    opacity: 0.5;
}